


<div class="container">

<h1 class="text-center padding text-white ">Eat-Da-Burgers!</h1>

<div class="row">
  <div class="col-6">

    <h2 class="text-center text-white">Burgers To Be Devoured</h2>

    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
      {{/unless}}
      {{/each}}
    </ul>

  </div>


  <div class="col-6">
    <h2 class="text-center text-white">Devoured Burgers</h2>
    <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>



<div class="row">
  <div class="col-4"></div>
  <div class="col-4 shadow">
    <h2 class = "text-center text-white">Add a Burger</h2>
    <form class="create-form">

      <div class="form-group text-center">
        <label class= "text-white" for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burger_name">
      </div>


      <div class = "text-center text-white">

          <button type="submit">Add Burger</button>


      </div>
    </form>
  </div>
  <div class="col-4"></div>

</div>

<div class = "row">
  <div class = "col-12">   
  </div>
</div>